@using Microsoft.FSharp.Core
@using RazorLight
@inherits TemplatePage<ADP.KnowledgeBase>

@model ADP.KnowledgeBase

@functions
{
    public string WrapFile(FSharpOption<ADP.Document> document, string kind)
    {
        return $"<a href='{Model.FolderOnServer}{document.Value.FileName}'>{kind}</a>";
    }
}

@foreach (var diploma in Model.AllWorks)
{
<li>
    <b>@Raw(!diploma.HasAuthorName ? " " : diploma.AuthorName)</b> @Raw(!diploma.HasTitle ? " " : diploma.Title)
    @Raw(!diploma.HasAdvisorName ? " " : $"(научный руководитель: {diploma.AdvisorName})")<br />
    @Raw(!diploma.HasText ? "отчёт не представлен" : WrapFile(diploma.Text, "Отчёт"))
    @Raw(!diploma.HasSlides ? "презентация не представлена" : WrapFile(diploma.Slides, "Презентация"))
</li>
    
    @Raw("\n")
}
