@using Microsoft.FSharp.Core
@using RazorLight
@inherits TemplatePage<ADP.KnowledgeBase>

@model ADP.KnowledgeBase

@functions
{
    public string WrapFile(FSharpOption<ADP.Document> document, string kind)
    {
        return $"<a href='{Model.FolderOnServer}/{document.Value.FileName}'>{kind}</a>";
    }
}

<h2>Направление «Математическое обеспечение и администрирование информационных систем» (02.03.03)<br /></h2>
<table class="listing">
<thead>
    <tr class="odd">
        <th>ФИО</th>
        <th>Тема</th>
        <th>Научный руководитель</th>
        <th>Консультант</th>
        <th>Текст</th>
        <th>Презентация</th>
        <th>Отзыв руководителя</th>
        <th>Отзыв консультанта</th>
        <th>Ссылка на код</th>
    </tr>
</thead>
<tbody>

@Raw("\n")
@{ var odd = true; }
@foreach (var diploma in Model.AllWorks)
{
<tr class=@(odd ? $"odd" : $"even")>
    <td>@Raw(!diploma.HasAuthorName ? " " : diploma.AuthorName)</td>
    <td>@Raw(!diploma.HasTitle ? " " : diploma.Title)</td>
    <td>@Raw(!diploma.HasAdvisorName ? " " : diploma.AdvisorName)</td>
    <td>@Raw(!diploma.HasConsultantName ? "—" : diploma.ConsultantName)</td>
    <td>@Raw(!diploma.HasText ? "Текст не представлен" : WrapFile(diploma.Text, "Текст"))</td>
    <td>@Raw(!diploma.HasSlides ? "Презентация не представлена" : WrapFile(diploma.Slides, "Презентация"))</td>
    <td>@Raw(!diploma.HasAdvisorReview ? "Отзыв научного руководителя не представлен" : WrapFile(diploma.AdvisorReview, "Отзыв научного руководителя"))</td>
    <td>@Raw(!diploma.HasConsultantReview 
            ? (!diploma.HasConsultantName ? "—" : "Отзыв консультанта не представлен") 
            : WrapFile(diploma.ConsultantReview, "Отзыв консультанта"))</td>
    <td>
    @if (diploma.HasSourcesUrl) 
    {
    <a href="@diploma.SourcesUrl">Реализация</a>
        if (diploma.HasCommitterName) 
        {
    <span>(имя аккаунта: @diploma.CommitterName)</span>
        }
    }
    else
    {
        @Raw("—")
    }
    </td>
</tr>
    @Raw("\n")
    odd = !odd;
}

    </tbody>
</table>
